.dialogs {
  height: 100%;
  display: flex;
}

.dialogs_list {
  border: 1px solid black;
  padding: 10px;
}

.messages {
  border: 1px solid black;
  padding: 10px;
}

.new_message_box {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.messages_list {
  border: 1px solid black;
  padding: 10px;
}
